# Acer PopGo / OnMicro 2.4G wireless receiver (VID 32C2 PID 0066)
# Allows non-root users to read battery via HID.
# Install:
#   sudo cp 99-acer-popgo.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules && sudo udevadm trigger

SUBSYSTEM=="usb", ATTRS{idVendor}=="32c2", ATTRS{idProduct}=="0066", MODE="0666", GROUP="plugdev", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="32c2", ATTRS{idProduct}=="0066", MODE="0666", GROUP="plugdev", TAG+="uaccess"
